footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  background-color: #1d201f;
}

footer div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div p {
  margin: 0;
}
